div.maintenance_box {
    width: 50%; /* Largeur du div */
    text-align: center; /* Centre le texte horizontalement */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre légère pour mieux voir le div */
    background-color: #fafafa; /* Couleur de fond du div */
    border: 1px solid #514fa1;
}
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Assistant', sans-serif;
    background-color: #F8F8FA;
}
.container.custom {
    width: 80%; 
    margin: 10px;
    text-align: center; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: #fafafa; 
    border: 1px solid #514fa1;
}
div.container.custom.header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    transition: all 0.3s ease; /* Smooth transition for all changes */
}
.space-postheader {
    color: transparent;
}
.small-header .scroll-hide {
    display: none;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #514fa1;
}
p {
    font-size: 16px;
    color: #333;
}
a.button {
    background-color: #514fa1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}
a.button:hover {
    background-color: #292860;
}
.hide-on-scroll {
    display: none;
}
@media (max-width: 768px) {
    .header.small-header h1 {
        font-size: 1.5em; /* Smaller but not too small */
    }
    .header.small-header p {
        font-size: 0.9em;
    }
    .scroll-hide {
        transition: opacity 0.3s ease;
    }
}

.badge {
    font-weight: 400;
    text-transform: uppercase;
    background-color: #514fa11a;
    border: 1px solid #514fa16a;
    color: #292860;
}